.home-title-form{
    text-align: center;
    font-size: 50px;
    color: #4abaea;
}
/*dealPopup*/
.deal-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    
    height: 100%;
    background-color: rgba(83, 136, 205, 0.9); 
    backdrop-filter: blur(2px); 
}

.deal-popup-content {
    background-color: #4496dd;
    color: #f6f2f2;
    margin: 12% auto;
    padding: 25px;
    border-radius: 15px;
    width: 70%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border: 2px solid #1a1717;
}

.deal-close-btn {
    color: #c80e11;
    float: right;
    font-size: 26px;
    font-weight: bold;
}

.deal-close-btn:hover,
.deal-close-btn:focus {
    color: #ae8837;
    text-decoration: none;
    cursor: pointer;
}

.deal-btn {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    width: 60%;
}

.deal-btn:hover {
    background-color: #7b6855;
}

.order-btn {
    background-color: #7b6855;
}

.order-btn:hover {
    background-color: #3c3c3c;
}

.subscribe-btn {
    background-color: #7b6855;
}

.subscribe-btn:hover {
    background-color: #3c3c3c;
}

.main-contant{
    background-color:#813f38;
}
body {
    margin: 0;
    font-family: 'Sans-serif', Arial, sans-serif;
    line-height: 1.5;
}
.best-selling-item{
    width:180px;
    height:150px;
}
header {
    width:100%;
height: 80px;
display: flex;
align-items: center;
justify-content:left;
color: white;
background-color:black;
border-bottom: 1px solid #eee;

 }
/*header*/

.Menu  {
    display: flex;
        justify-content: right;
        position: absolute;
        top: 20px;
        width: 100%;
       
    }


.page {
        color: white;
        text-decoration:none;
        margin: 0 15px;
        font-size: 1.2em;
    }

.page:hover {
    color: blue;
    padding: 10px 15px;
    background-color:rgb(146, 146, 72);
    border-radius: 2px;  
    
    }

/*slide*/
.slide{
text-align: center;
display: flex;
flex-direction: row;
width:80%;
margin: 0% auto;
height: 400px;
background-color: rgb(167, 198, 198);
border: 2px solid black;
border-radius: 10px;
}
#slide-left{
width: 40%;
height: auto;

}
#slide-right{
width: 60%;
height: auto;
}
#slide-photo{
    border-radius: 8px;
    width:380px;
    height:400px;

    
}
#story{
    font-size: 18px;
    font-weight:bold;
}

#best-selling-title{

text-align: center;
color: bisque;
}

.best-selling-coffee{
width:100%;
display: flex;
justify-content: center;

}
.item {
display: grid;
place-items: center;
margin: 10px;
padding: 20px;
width: 250px;
height:350px;
background-color:bisque;
border-radius: 10px;

}

.item:hover {
   
transform: translateY(-5px);
cursor: pointer;      
background-color:#f1d7c5; 
    }


    #footer {

background-color: #333;
color: brown;
text-align: center;
padding: 10px;
box-sizing: border-box;
height: 400px;
width: 100%;
background-color: rgb(58, 44, 44);
margin-top: auto;
}
.text{
padding-top:10px;
}
.icon{
list-style: none;
margin-left: 50px;
margin-top: 10px;
}

#icon .social{
text-align: center;
padding-bottom: 25px;
color:brown;
margin-top: -5px;
}

#icon .social a{
font-size: 30px;
color: inherit;
border: 0 solid brown;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
opacity: 0 8px;
}

#icon .social a:hover{
opacity: 0.9;
color: white;
}
#icon ul li a{
color: brown;
text-decoration: none;
opacity: 0.8;
}

#icon ul li{
font-size: 24px;
display:inline-block;
padding: 0 15px;
text-align: center;
}

#icon ul li a:hover{
opacity: 1;
color:white;
font-weight: bold;
} 

/* footer-------icon */


.copyright{
color:brown;
margin-top: 0;
}
/* rising----------footer */

.copyright{
margin-top: 10px;
color: brown;
text-align: center;
}

/* coffee menu */
.price{
 font-size: 24px;
 font-weight: bold;
}

.coffee-family{
    background-color:rgb(146, 146, 72) ;
}

.coffee-selection-title{
    text-align: center;
    color: navy;
    font-size: 50px;
    font-weight: bold;
}
.search_container{
    display: inline;
}
.coffee-search-form{
font-size: 30px;
font-weight: bold;
position: absolute;
top: 20%; left: 5%;
width: 300px;
height: 40px;
display: flex;
align-items: center;
background-color: #ddd;
border:3px solid blue;
border-radius: 10px;

}

.coffee-search-form:hover{
    background-color: antiquewhite;
    color:navy;
    font-size: 30px bold;
}

.Selection{
    width:100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
    flex-wrap: wrap;
    row-gap:5px;
    column-gap:10px ;
    margin: auto;
    background-color: rgb(146, 146, 72);
  
    }

 .coffee{
    display: grid;
    place-items: center;
    margin:10px;
    padding: 20px;
    width: 320px;
    height:450px;
    background-color:bisque;
    border-radius: 10px;
    
    }
.coffee:hover{
    
    background-color:#f1d7c5; 
    transform: translateY(-5px); 
    cursor: pointer;
}
    .button{
        padding: 8px 8px;
        border: 2px solid black;
        border-radius: 7px;
        color:aqua;
        background-color:blue;
        text-decoration: none;
        cursor: pointer;
    }
    .button:hover{
       background-color: white;
    }
    .coffee-photo{
        border-radius: 10px;
        width:180px;
         height:150px;

    }
/*equiment*/
.brew-family{
    background-color:rgb(146, 146, 72) ;
}
.brew-title{
    text-align: center;
    font-size: 50px ;
    font-weight:  bold;
    color: navy;
}
.cooffee-brewing-button{
    padding: 8px 8px;
    font-weight: bold;
        border: 2px solid black;
        border-radius: 7px;
        color:#ccc;
        background-color:rgba(189, 65, 15, 0.808);
        text-decoration: none;
        cursor: pointer;
}
.cooffee-brewing-button:hover{
    background-color: rgb(180, 70, 70);
    color: #ccc;
    
}
/*Events and Workshop*/
.event-family{
    background-color:#d1d5db;
}
.coffee-brewing-button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.event-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

    

.event-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coffee-event {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #333;
}

.coffee-event-left{
    width:300px;
    height:300px;

}


.event-form{
    
    text-align: center;
    width:1000px;
    height:500px;
    background-color:rgb(197, 220, 226);
    border:5px solid black;
    border-radius: 8px;
}

.register-item label{
    display: block;
    color: #5393d8;
   
}
.register-item{
    margin-top: 5px;
    
}


.event-register{
    background-color: #5393d8;;
    width: 600px;
    height: 30px;
    border-radius: 5px;
    
}

.event-button{
    margin-top: 10px;
    padding: 8px 8px;
        border: 2px solid black;
        border-radius: 7px;
        color:#ddd;
        background-color:#c16f65;
        text-decoration: none;
        cursor: pointer;
}
.event-button:hover{
    background-color: white;
    color: #000;
 }

 @media (max-width: 600px) {
    
    .header{
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #000;
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .event-image{
        margin-top: 10px;
    }
    .coffee-event {
        flex-direction: column;
        padding: 15px;
    }
    .event-form{
        max-width:100%;

    }
    .event-register{
        max-width: 100%;
    }
    .footer{
        max-width: 100%;
    }
}
/* shoppingCart*/
.shopping-card-data{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.shoppingcart-form{
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.shopingcart-table th {
    background-color: #f8f8f8;
}
.shoppingcart-title{
    text-align: center;
    color: #333;
}

.shoppingcart-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.shoppingcart-table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;

}
.shoppingcart-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.shoppingcart-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.shoppingcart-btn:hover{
    background-color: #c0392b;  
}

.shoppingcart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingcart-summary p {
    font-size: 18px;
    margin: 0;
}

.shoppingcart-summary .shoppingcart-checkout-btn{
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.shoppingcart-summary .shoppingcart-checkout-btn:hover {
    background-color: #27ae60;
}
/*Special Offer*/
.special-offer-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
}


.special-offer-page{
    background-color: #333;
}
.special-offer-form{
    text-align: center;
    width:100%;
   
}
.special-offer{


    border: 1px solid #d1d5db; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f1f5f9;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
.special-offer-list{
    
    font-size: 24px;
    display:inline-block;
   
    text-align: center;

    list-style-type: none;
    padding: 0;
    margin: 0;
    }

.special-offer-sub{
    text-align: center;
    height: 100px;
    background-color: #333;
}

.special-offer-btn{
    margin-top: 5px;
    padding: 8px 8px;
    border: 2px solid black;
    border-radius: 7px;
    color:white;
    background-color:brown;
    text-decoration: none;
    cursor: pointer;
}
.special-offer-btn:hover{
    background-color: #ccc;
}
/*Map*/
#map-title{
    font-size: 24px;
    color: antiquewhite;
    font-weight: bold;
}
.map-form{
    
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 10px;
    text-align: center;   
}
/*detail*/
.detail-form{
    width:600px;  
    height: 600px;
    background-color: aliceblue;
    border: 2px solid black;
    text-align: center;
    margin: 0% auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .detail-title{
      text-align: center;
      font-size: 50px;
      font-weight: bold;
  }
  .detail{
    width: 85%;
    height:400px;
  }
  /* user */
  .user-account{
    text-align: center;
    width:1000px;
    height:500px;
    background-color:rgb(197, 220, 226);
    border:5px solid black;
    border-radius: 8px;
    margin: 10px auto;
    
  }
  /*detail*/
  .detail-btn{
        
        padding: 10px 50px;
        border: 2px solid black;
        border-radius: 7px;
        color:aqua;
        background-color:blue;
        text-decoration: none;
        cursor: pointer;
  }
  .detail-btn:hover{
    background-color: white;
  }
  .detail-btn-form{
    margin-top: 30px;
    margin-left: 45%;
    width: 100%;
    height: 100px;
  }